/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.header {
    width: 100%;
    display: flex;
   
    justify-content: space-between;
    height: 80px;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {

    width: 43%;
}





.location-text {
    font-weight: bold;
    flex-grow: 1;
    margin-left: 25px;
}

.group h3 {
    font-weight: normal;
}


.search-bar {

    display: flex;
    width: 25%;


}

.search-button {

    background-color: rgb(0, 101, 252);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    flex-grow: 1;
    font-weight: bold;
    font-size: 15px;
    padding: 0 10px;
}

.button-search {
    display: flex;
    flex-grow: 1;
}

.fa-solid.fa-magnifying-glass {
    display: none;
}

.fa-solid.fa-location-dot {
    color: black;
}

.icon-location {
    width: 15%;
    background-color: rgb(242, 242, 242);
    justify-content: center;
    display: flex;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    align-items: center;
}

.filter-bar {
    font-weight: bold;
    margin-top: 30px;
    display: flex;
    width: 50%;
}

.filter {
    width: 22%;
    display: flex;
    border-radius: 25px;
    border: 2px solid rgba(217, 217, 217, 1);
    align-items: center;
    margin-left: 10px;
}

.filter:hover {
    background-color: #DEEBFF;
  }


.filters {
    width: 100%;
    display: flex;
}

.logement {
    margin-left: 10px;
}

.icon {
    width: 13%;
    margin-left: inherit;
}

.infobar {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.fa-solid.fa-info {
    padding: 4px 10px;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
}

.menu {

    width: 21%;
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
  
}

a:hover{

    border-top: 3px solid #0065FC;
    
}

.bouton-hebergements {
    width: 50%;
    display: flex;
    justify-content: end;
   
}
.bouton-hebergements:hover{

    border-top: 2px solid #0065FC;
}


.bouton-hebergements a {
    color: rgba(0, 101, 252, 1);
    text-decoration: none;
}




.bouton {
    display: flex;
    width: 80%;
    justify-content: space-between;
}



.bouton-activités {
    width: 28%;
}

.bouton-activités:hover{

    border-top: 2px solid #0065FC;
}

.bouton-activités a {

    color: inherit;
    text-decoration: none;
}

.economique {

    margin-left: inherit;
}

.familial {

    margin-left: inherit;
}

.romantique {

    margin-left: inherit;
}

.nos-pepites {

    margin-left: inherit;
}

body {
    width: 1440px;
    margin: auto;
}

.main-container {
    width: 100%;
    box-sizing: border-box;

}

a {
    color: inherit;
    text-decoration: none;
    padding: 15px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}


.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 29%;
    margin-bottom: 20px;
}

.card-populaires {

    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}


.card img {
    object-fit: cover;
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.card-title {
    font-size: 16px;

}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;

}

.card-content {
    padding: 0 15 0 15px;
}

.blocs-hebergement {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
    width: 100%;
}

.populaires-cards .card-populaires {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    margin-bottom: 50px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


.activités {

    width: 100%;
  
    box-sizing: border-box;
    margin-top: 80px;


}

.blocs-activités {
    display: flex;
}

.activités-cards {

    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 23%;
    margin-right: 20px;
    margin-bottom: 20px;
}

.activités-cards h3 {
    margin-left: 10px;
}

.activités-cards img {
    object-fit: cover;
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

footer {
    display: flex;
    margin-top: 50px;
    background-color: var(--main-bg-color);
    padding: 0 50px;
}

.a-propos {
    flex-grow: 1;
}

.nos-hebergements {
    flex-grow: 1;
}

.assistance {
    flex-grow: 1;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    body {
        width: 100%;
    }

   

    .menu {
        width: 30%;
        display: flex;
        justify-content: center;
    }


    .search-bar {
        width: 40%;
    }


    .filter-bar {
        width: 72%;
        display: flex;
        justify-content: space-between;
    }

    .bouton {
        width: 73%;
    }

    .bouton-hebergements {
        width: 50%;
    }

    .bouton-activités {
        width: 50%;
    }


    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activités-cards img {

        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    .populaires-cards{
        width: 100%;
    }

    .search-bar {

        width: 100%;
    }

    a{
        padding: 11px;
    }
   
    .filter-bar {

        width: 100%;
        flex-wrap: wrap;
    }

    .filter {
        width: 45%;
        margin-top: 20px;

    }

    .filters {
        width: 100%;
        flex-wrap: wrap;
        display: flex;
    }


    .hebergements-and-populaires section {

        border-radius: 0;
        background-color: transparent;
    }


    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        order: 2;
    }

    .main-container {

        padding: 0;
    }

    .populaires {
        width: 100%;
        order: 1;
        background-color: var(--main-bg-color);
    }

    .activités-cards {

        width: 100%;

    }

    .activités-cards img {

        height: 141px;
    }

    .blocs-activités {

        flex-wrap: wrap;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .economique {

        font-size: 0.8em;
    }

    .familial {
        font-size: 0.8em;
    }

    .romantique {
        font-size: 0.8em;
    }

    .nos-pépites {
        font-size: 0.8em;
    }

    .card-populaires {

        width: 100%;
    }

    .card {
        width: 100%;
    }

    body {
        width: 100%;
    }

    

    .header img {

        padding: 30px;
       
    }

    .menu {
        width: 100%;
    }

    .bouton {

        width: 100%;
    }

    .fa-solid.fa-magnifying-glass {
        display: block;
        background-color: rgb(0, 101, 252);
        color: #fff;
        padding: 16px;
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px #00000040;
        align-items: center;
        margin: auto;
    }
    
    .search-button {
        display: none;
    }

    .bouton-hebergements {
        border-bottom: 2px solid #0065FC;
        border-top: none;
        justify-content: initial;
    }

    .bouton-activités {
        width: 50%;
        border-bottom: 2px solid #F2F2F2;
    }

    footer {
        flex-wrap: wrap;
        flex-direction: column;
    }

}
